/* Playfair and IBM Plex Sans fonts */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Playfair+Display&display=swap");

/* Colour styles */

:root {
  --primary: #141414;
  --background: #fdf8f5;
}

/* keyframe animations */

@keyframes rotate360 {
  0% {
    transform-origin: center center;
    transform: rotate(0);
  }
  100% {
    transform-origin: center center;
    transform: rotate(360deg);
  }
}

/* General styles */

body {
  background-color: var(--background);
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--primary);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 6vw;
  line-height: 90%;
  text-transform: capitalize;
}

h2 {
  font-size: 2.2vw;
  line-height: 140%;
  font-weight: 100;
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

li {
  font-weight: 600;
  color: var(--primary);
  border: var(--primary);
  height: 100%;
  padding: 4px 12px;
}

button {
  border: 1px solid var(--primary);
  background: transparent;
}

input {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 0.875rem;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid var(--primary);
  background-color: transparent;
  padding: 16px 0;
}

input:focus {
  outline: none;
}

input[type="text"]::placeholder {
  opacity: 1;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.App {
  width: 100vw;
}

.serif {
  font-family: Playfair Display;
}

/* Menu styles */

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 6rem;
  z-index: 10;
  background: var(--background);
  border-right: 1px solid var(--primary);
  padding: 1vw;
  padding-bottom: 1.8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header .Info-wrapper {
  left: -50px;
  width: 90vh;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.15rem;
}

header .Introduction {
  width: 30vh;
  display: flex;
  flex-direction: column;
}

header .Time {
  width: 30vh;
}

header .Shapes {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

header .Shape {
  width: 40px;
  height: 40px;
  outline: 1px solid var(--primary);
}

.Circle {
  border-radius: 100%;
}

.Square {
  transform: rotate(45deg);
  animation: 10s rotate360 infinite linear;
}

/* Search results styles */

main {
  margin-left: 6rem;
}

.Dictionary {
  display: grid;
  grid-template-columns: 50% 50%;
}

.Half {
  width: 100%;
  height: 100vh;
  border-right: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  padding: 1vw;
}

.Half-split {
  display: grid;
  grid-template-rows: 50% 50%;
}

.Quarter {
  padding: 1vw;
  border-bottom: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
  padding: 4px 16px;
  color: var(--primary);
  background: var(--background);
  text-decoration: none;
  border: 1px solid var(--primary);
  border-radius: 40px;
  transition: all 250ms ease;
}

a:hover {
  background: var(--primary);
  color: var(--background);
  border: 1px solid var(--primary);
}

.partOfSpeech {
  font-family: Playfair Display;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
