/* Playfair and IBM Plex Sans fonts */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Playfair+Display&display=swap");

/* Colour styles */

:root {
  --primary: #141414;
  --background: #fdf8f5;
}

/* keyframe animations */

@keyframes rotate360 {
  0% {
    transform-origin: center center;
    transform: rotate(0);
  }
  100% {
    transform-origin: center center;
    transform: rotate(360deg);
  }
}

/* General styles */

body {
  background-color: var(--background);
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-transform: uppercase;
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

li {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
  padding: 4px 12px;
}

form {
  text-align: center;
}

input {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 0.875rem;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: transparent;
  padding: 24px 0;
}

input:focus {
  outline: none;
}

input[type="text"]::placeholder {
  opacity: 1;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.App {
  width: 100vw;
}

/* Menu styles */

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 6rem;
  z-index: 10;
  background: var(--background);
  border-right: 1px solid var(--primary);
  padding: 1vw;
  padding-bottom: 1.8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header .Info-wrapper {
  left: -50px;
  width: 90vh;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.15rem;
}

header .Introduction {
  width: 30vh;
  display: flex;
  flex-direction: column;
}

header .Time {
  width: 30vh;
}

header .Shapes {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

header .Shape {
  width: 40px;
  height: 40px;
  outline: 1px solid var(--primary);
}

.Circle {
  border-radius: 100%;
}

.Square {
  transform: rotate(45deg);
  animation: 10s rotate360 infinite linear;
}

/* search results styles */

main {
  margin-left: 6rem;
}

.Dictionary {
  display: grid;
  grid-template-columns: 50% 50%;
}

.Quadrant {
  width: 100%;
  height: 100vh;
  border-right: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  padding: 1vw;
  overflow-y: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Keyword {
  font-size: 96px;
  position: relative;
  top: -10px;
  text-align: center;
}

.Meaning {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 45%;
  gap: 4vw;
}

.partOfSpeech {
  display: inline-block;
  background: #6557aa;
  padding: 8px 16px;
  border-radius: 4px;
}

.definition {
  font-size: 32px;
}

.Synonyms {
  font-size: 14px;
  margin: 24px 0;
}

.play-btn {
  width: 24px;
  height: 24px;
  background: #6557aa;
  border-radius: 100px;
}

.result {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 40px;
}

/* Photos section */

.Photos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2vw;
  margin: 40px 0 0 0;
}

.image-column img {
  width: 100%;
}

.Phonetics {
  width: 240px;
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 16px 0;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  transition: background 250ms ease-out;
}

.Phonetics:hover {
  text-decoration: none;
}

.Phonetics:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

footer p {
  opacity: 1;
}
